/* font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif; */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Lobster', cursive;
  font-size: calc(60px + 5vmin);
  color: white;
  padding: 3.25%;
  text-shadow: 3px 8px 8px #0faebd;
}

.inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
  font-family: 'Roboto', sans-serif;
  font-size: calc(10px + 1vmin);
  color: white;
  padding: 1.5%;
}

.teamCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  font-family: 'Roboto', sans-serif;
  font-size: calc(15px + 1vmin);
  color: black;
  background-color: white;
  margin: 3%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: -3px 8px 3px 3px black;
}

h2 {
  font-size: cal(25px + 2vmin);
  font-family: 'Lobster', cursive;
  padding: 0%;
}

label {
  margin: 1%;
  font-size: calc(12px + 1vmin);
  padding: 0%;
}

.enterName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: .25%;
  padding: 0%;
  width: 100vw;
}

.enterEmail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: .25%;
  padding: 0%;
  width: 100vw;
} 

.enterRole {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: .25%;
  padding: 0%;
  width: 100vw;
}

  .card-list {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 1%;
 }

 .theButton {
   display: flex;
   flex-direction: row;
   align-content: center;
   justify-content: center;
 }

 button {
   background: #0faebd;
   height: 3%;
   width: 12%;
   padding: 1%;
   font-family: 'Roboto', sans-serif;
   color: white;
   border: none;
   font-size: calc(10px + 1vmin);
   border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
 }

 p {
   padding: 0%;
   margin: .15% .5% 2.5%;
   font-size: calc(40% + 1vmin);
 }